*{
  padding: 0;
  margin: 0;
} 
.menu-line{
  background-color: rgb(30, 180, 16);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.arrow{
  display: inline-block;
  margin-left: 16px;
}
.arrow-sign{
  color: white;
}
.main-heading{
  display: inline-block;
  color: white;
  margin-left: 10px;
}
.total-bill{
  margin-left: 1140px;
}
.off-packeges{
  margin-left: 20px;
  color: grey;
  font-weight: bold;
}
.stock{
  margin-left: 998px;
}
.dot {
height: 7px;
width: 7px;
background-color: #13d143;
border-radius: 50%;
display: inline-block;
}
.calary-stalk{
  margin-top: 17px;
}
.calary-stalk-text{
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;}
  .quantity1{display: inline-block;
  
}
.quantity2{display: inline-block;
  margin-left: 299px;
}
.quantity3{display: inline-block;
  margin-left: 299px;
}
.quantity4{display: inline-block;
margin-left: 299px;
}
.items-container{
  margin-left: 8px;}
  .calary-stalk2{
  display: grid;
  grid-template-columns: 57px 1fr;
  grid-template-rows: 57px 1fr;
  column-gap: 45px;
  row-gap: 0px;
  margin-top: 17px;}
  .item-name{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;}
  .buy-button{
  display: inline-block;
  color: white;
  margin-left: 940px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(30, 180, 16);
  border: none;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}
.half-buy-button{
  display: inline-block;
  color: white;
  margin-left: 962px;
  width: 34px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(30, 180, 16);
  border: none;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  cursor: pointer;
}
.half-buy-button2{
  display: inline-block;
  color: white;
  margin-left: 1008px;
  width: 34px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(30, 180, 16);
  border: none;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  cursor: pointer;
}
.half-right-buy-button2{
  display: inline-block;
  color: white;
  width: 34px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(30, 180, 16);
  border: none;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  cursor: pointer;
}
.add-items{
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: bolder;
  vertical-align: top;
  margin-top: 6px;
}
.quantity-per-price{
  margin-top: 30px;
}
.half-right-buy-button{
  display: inline-block;
  color: white;
  width: 34px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(30, 180, 16);
  border: none;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  cursor: pointer;
}
.cart{
  width: 100px;
  display: inline-block;
}
.item-name{
  margin-right: 1050px;
  
}
.items-container{
  margin-left: 20px;
}
.textarea{
  margin-top: 20px;
  margin-left: 20px;
  width: 1270px;
  padding-bottom: 60px;
  background-color: rgb(238, 233, 233);
}
.order-confirmation{
  margin-left: 20px;
}
.order-button{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 200px;
  padding-left: 200px;
  border-radius: 20px;
  margin-left: 400px;
  margin-top: 40px;
  background-color: rgb(255, 217, 0);
  border: none;
  font-weight: bold;
}